<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capabilities</title>
    <style type="text/css" media="all">
        body {
            font-family: Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        }

        a {
        }

        th {
            horiz-align: center;
            background-color: #f0f0f0;
        }

        td {
            vertical-align: top;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .hidden {
            display: none;
        }
    </style>
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Lato">
    <script>
        function colorOf(type) {
            if (type) {
                if (type.includes('full-stack')) return '#b6d7a8ff'
                if (type.includes('service')) return '#fff2ccff'
                if (type.includes('integration')) return '#ead1dcff'
                if (type.includes('development')) return '#c9daf8ff'
                if (type.includes('other')) return '#f3f3f3ff'
            }
            return '#f3f3f3ff';
        }
    </script>
</head>
<body>

<div id="Main"></div>

<script>
    const capabilities = ${capabilities};
    const array = ${data};

    function capabilityByName(name) {
        let search = capabilities.filter(c => c.capability.toLowerCase() === name.toLowerCase());
        return search ? search[0] : null;
    }
</script>

<script>

    const startingAt = function (capability) {
        let n = 10000000;

        capability.months.forEach(month => {
            if (month.buildEffort > 0 && n === 10000000) {
                n = month.year * 1000 + month.month;
                return;
            }
        });

        return n;
    }


    function displayTable(sorted) {
        const getExpectedLiveCount = function (year, month) {
            const monthId1 = year + '-' + (month < 10 ? '0' : '') + (month);
            const monthId2 = year + '-' + month;

            let count = 0;
            sorted.forEach(capability => {
                if (capability.expected_live === monthId1 || capability.expected_live === monthId2) {
                    count += 1;
                }
            });

            return count;
        }
        const ftesOf = function (year, month) {
            const monthId1 = year + '-' + (month < 10 ? '0' : '') + (month);
            const monthId2 = year + '-' + month;

            const ftes = {
                buildEffort: 0,
                scalingEffort: 0,
                retiringEffort: 0,
                totalEffort: 0,
            }

            let count = 0;
            sorted.forEach(capability => {
                capability.months.filter(m => m.year + '' === year + '' && m.month + '' === month + '').forEach(m => {
                    ftes.buildEffort += m.buildEffort;
                    ftes.scalingEffort += m.scalingEffort;
                    ftes.retiringEffort += m.retiringEffort;
                    ftes.totalEffort += m.buildEffort + m.scalingEffort + m.retiringEffort;
                });
            });

            return ftes;
        }

        const getConfirmedLiveCount = function (year, month) {
            const monthId1 = year + '-' + (month < 10 ? '0' : '') + (month);
            const monthId2 = year + '-' + month;

            let count = 0;
            sorted.forEach(capability => {
                if (capability.confirmed_live === monthId1 || capability.confirmed_live === monthId2) {
                    count += 1;
                }
            });

            return count;
        }


        const getConfirmedLiveTotalCount = function () {
            let count = 0;
            sorted.forEach(capability => {
                if (capability.confirmed_live) {
                    count += 1;
                }
            });

            return count;
        }

        let html = '<table>';
        html += '<tr style="font-size: 10px">';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            if (month.month === 6) {
                html += '<td colspan="2" style="text-align: center">' + month.year + '</td>';
            } else if (month.month === 7 && month.year > 2022) {
            } else {
                html += '<td></td>';
            }
        });
        html += '</tr>';
        html += '<tr style="font-size: 80%">';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            html += '<td>' + month.month + '</td>';
        });
        html += '</tr>';
        html += '<tr style="font-size: 60%">';
        html += '<td></td>';
        html += '<td>';
        html += '<div style="display: inline-block; border: 3px solid crimson; border-radius: 4px; font-size: 150%; padding: 0px 8px 0px 8px">' + getConfirmedLiveTotalCount() + '</div>';
        html += '</td>';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            let count = getConfirmedLiveCount(month.year, month.month);
            const style = count ? 'border-radius: 4px; border: 1px solid crimson; font-size: 120%;' : '';
            html += '<td><div style="margin-top: 3px; ' + style + '">' + (count ? count + '' : '') + '</div></td>';
        });
        html += '</tr>';
        html += '<tr style="font-size: 60%">';
        html += '<td></td>';
        html += '<td>';
        html += '</td>';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            let totalEffort = ftesOf(month.year, month.month).totalEffort;
            html += '<td style="vertical-align: bottom">';
            html += '<div style="margin-top: 3px; font-size: 8px">' + (totalEffort ? totalEffort : '') + '</div>';
            html += '<div style="border: 2px solid white; margin-top: 3px; width: 20px; background-color: lightgrey; height: ' + (totalEffort / 3) + 'px"></div>';
            html += '</td>';
        });
        html += '</tr>';


        let index = 0;
        sorted.forEach(capability => {
            index += 1;
            html += '<tr style="height: 32px; white-space: nowrap; overflow: hidden">';
            html += '<td style="vertical-align: bottom; font-size: 70%; color: grey">' + index + '</td>';
            html += '<td style="text-align: right; width: 260px; min-width: 280px; max-width: 280px; vertical-align: bottom; overflow: hidden; font-size: 80%">';
            html += '<div style="font-size: 80%; color: grey">' + capability.domain + '</div>';
            html += '<div style="font-weight: bold; font-size: 110%">' + capability.capability + '</div>';
            html += '</td>';
            html += '<td style="text-align: left; font-size: 80%; padding-left: 16px; color: lightgrey; vertical-align: middle">';

            const capabilityInfo = capabilityByName(capability.capability);
            if (capabilityInfo && capabilityInfo.colored_status) {
                const bgColor = capabilityInfo.colored_status.replace(/\,.*/g, '').trim();
                html += '<div style="cursor: help; margin-right: 30px; border-radius: 50%; width: 24px; height: 24px; background-color: ' + bgColor + '" title="' + capabilityInfo.colored_status + '"></div>';
            } else {
                html += '<div style="margin-right: 30px; border-radius: 50%; width: 24px; height: 24px; background-color: #f0f0f0"></div>';
            }
            html += '</td>';
            html += '<td style="font-size: 80%; width: 20px; min-width: 30px; max-width: 30px; vertical-align: bottom; color: grey; padding-left: 12px">';
            html += Math.round(capability.man_months / 12) + '<span style="font-size: 70%">MY</span>';
            html += '</td>';
            capability.months.forEach(month => {
                const monthId1 = month.year + '-' + (month.month < 10 ? '0' : '') + (month.month);
                const monthId2 = month.year + '-' + month.month;

                const border = month.month === 12 ? 'border-right: 1px solid lightgrey' : '';
                html += '<td style="border-bottom: 1px solid lightgrey; vertical-align: bottom; text-align: left; ' + border + '">';

                const title = month.year + ' ' + month.month
                    + '\nbuilding: ' + month.buildEffort + ' FTE'
                    + '\nscaling: ' + month.scalingEffort + ' FTE'
                    + '\nretiring: ' + month.retiringEffort + ' FTE';

                const lineStyle =
                    ((monthId1 === capability.confirmed_live || monthId2 === capability.confirmed_live) ? 'border: 2px solid crimson;' :
                        (monthId1 === capability.expected_live || monthId2 === capability.expected_live) ? 'border: 2px dotted crimson;' : 'border: 2px dotted white;');

                html += '<div style="display: inline-block; vertical-align: bottom;' + lineStyle + '" title="' + (title) + '">';
                html += '<div style="border-radius: 1px; background-color: #b0b0b0; width: 20px; height: ' + (month.retiringEffort) + 'px">&nbsp;</div>';
                html += '<div style="border-radius: 1px; background-color: orange; width: 20px; height: ' + (month.scalingEffort) + 'px">&nbsp;</div>';
                html += '<div style="border-radius: 1px; background-color: #315b7c; width: 20px; height: ' + (month.buildEffort) + 'px">&nbsp;</div>';
                html += '</div>';

                html += '</td>';
            });
            html += '</tr>';
        });

        html += '</table>';
        return html;
    }

    function display() {
        array.splice(0, 1);
        const sorted = array
            .sort((a, b) => (a.expected_live ? a.expected_live : '2030-01').localeCompare(b.expected_live ? b.expected_live : '2030-01'))
            .sort((a, b) => (a.confirmed_live ? a.confirmed_live : '2030-01').localeCompare(b.confirmed_live ? b.confirmed_live : '2030-01'));


        let html = '';
        html += '<div style="font-size: 90%; margin-bottom: 10px"><a href="roadmap.html" target="_blank">Open in new Tab...</a></div>';
        html += '<div style="font-size: 80%">';
        html += '<div style="font-size: 110%; margin-bottom: 12px">The roadmap shows how we expect to build all white label capabilities, describing the expected effort (in FTEs each month) needed to build the initial version and release it for one brand (LIVE), scale a capability to multiple brands, and retire any legacy.\n</div>';
        html += '<div style="display: inline-block">Legend:</div>';
        html += '<div style="color: white; background-color: #315b7c; display: inline-block; margin: 2px; padding: 2px">Building</div>';
        html += '<div style="background-color: orange; display: inline-block; margin: 2px; padding: 2px">Scaling</div>';
        html += '<div style="background-color: #b0b0b0; display: inline-block; margin: 2px; padding: 2px">Retiring</div>';
        html += '<div style="border: 3px dashed crimson; border-radius: 4px; display: inline-block; margin: 2px; padding: 2px">Expected Live</div>';
        html += '<div style="border: 3px solid crimson; border-radius: 4px; display: inline-block; margin: 2px; padding: 2px">Confirmed Live</div>';
        html += '</div>';
        html += '<div style="color: grey; font-size: 80%; margin-top: 0px">Live = receives live traffic from at least one brand (WL Modules, Service),\n' +
            '        or used to build services receiving live traffic (design / dev modules)\n' +
            '    </div>'
        html += displayTable(sorted);
        html += '<h2 style="margin-top: 42px">Seeker / Buyer / Tenant</h2>';
        html += displayTable(sorted.filter(c => c.domain.toLowerCase().includes('seeker')));
        html += '<h2 style="margin-top: 42px">Owner / Seller / Landlord</h2>';
        html += displayTable(sorted.filter(c => c.domain.toLowerCase().includes('owner')));
        html += '<h2 style="margin-top: 42px">Intermediary</h2>';
        html += displayTable(sorted.filter(c => c.domain.toLowerCase().includes('intermediary')));
        html += '<h2 style="margin-top: 42px">Marketplace &amp; Data</h2>';
        html += displayTable(sorted.filter(c => c.domain.toLowerCase().includes('data')));
        html += '<h2 style="margin-top: 42px">Platform Experience</h2>';
        html += displayTable(sorted.filter(c => c.domain.toLowerCase().includes('platform')));

        document.getElementById('Main').outerHTML = html;
    }

    display();

</script>

<div style="margin: 27px; color: #a0a0a0; font-size: 80%" class="hidden">
    generated on ${date} based on this source
    <a style="text-decoration: underline; color: #a0a0a0;"
       href="">data
        sheet</a>
</div>
</body>
</html>