<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capabilities</title>
    <style type="text/css" media="all">
        body {
            font-family: Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        }

        a {
        }

        th {
            horiz-align: center;
            background-color: #f0f0f0;
        }

        td {
            vertical-align: top;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .hidden {
            display: none;
        }
    </style>
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Lato">
    <script>
        function colorOf(type) {
            if (type) {
                if (type.includes('full-stack')) return '#b6d7a8ff'
                if (type.includes('service')) return '#fff2ccff'
                if (type.includes('integration')) return '#ead1dcff'
                if (type.includes('development')) return '#c9daf8ff'
                if (type.includes('other')) return '#f3f3f3ff'
            }
            return '#f3f3f3ff';
        }
    </script>
</head>
<body>

<div id="Main"></div>

<script>
    const array = ${data};
</script>

<script>

    const startingAt = function (capability) {
        let n = 10000000;

        capability.months.forEach(month => {
            if (month.buildEffort > 0 && n === 10000000) {
                n = month.year * 1000 + month.month;
                return;
            }
        });

        return n;
    }


    function displayTable(sorted) {
        let html = '<table>';
        html += '<tr style="font-size: 10px">';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            if (month.month === 6) {
                html += '<td colspan="2" style="text-align: center">' + month.year + '</td>';
            } else if (month.month === 7 && month.year > 2022) {
            } else {
                html += '<td></td>';
            }
        });
        html += '</tr>';
        html += '<tr style="font-size: 80%">';
        html += '<td></td>';
        html += '<td></td>';
        sorted[0].months.forEach(month => {
            html += '<td>' + month.month + '</td>';
        });
        html += '</tr>';
        html += '<tr style="font-size: 50%">';
        html += '<td></td>';
        html += '<td></td>';
        html += '</tr>';

        let index = 0;
        sorted.forEach(capability => {
            index += 1;
            html += '<tr style="height: 32px; white-space: nowrap; overflow: hidden">';
            html += '<td style="text-align: right; width: 260px; min-width: 280px; max-width: 280px; vertical-align: bottom; overflow: hidden; font-size: 80%">';
            html += '<div style="font-size: 80%; color: grey">' + capability.domain + '</div>';
            html += '<div style="font-weight: bold; font-size: 110%">' + capability.capability + '</div>';
            html += '</td>';
            html += '<td style="font-size: 80%; width: 20px; min-width: 30px; max-width: 30px; vertical-align: bottom; color: grey; padding-left: 12px">';
            html += Math.round(capability.man_months / 12) + '<span style="font-size: 70%">MY</span>';
            html += '</td>';
            capability.months.forEach(month => {
                const monthId1 = month.year + '-' + (month.month < 10 ? '0' : '') + (month.month);
                const monthId2 = month.year + '-' + month.month;

                const border = month.month === 12 ? 'border-right: 1px solid lightgrey' : '';
                html += '<td style="border-bottom: 1px solid lightgrey; vertical-align: bottom; text-align: left; ' + border + '">';

                const title = month.year + ' ' + month.month
                    + '\nbuilding: ' + month.buildEffort + ' FTE'
                    + '\nretiring: ' + month.maintenanceEffort + ' FTE';

                const lineStyle = '';

                const hFactor = 2;

                html += '<div style="display: inline-block; vertical-align: bottom;' + lineStyle + '" title="' + (title) + '">';
                html += '<div style="border-radius: 1px; background-color: #b0b0b0; width: 20px; height: ' + (hFactor * month.maintenanceEffort) + 'px">&nbsp;</div>';
                html += '<div style="border-radius: 1px; background-color: #315b7c; width: 20px; height: ' + (hFactor * month.buildEffort) + 'px">&nbsp;</div>';
                html += '</div>';

                html += '</td>';
            });
            html += '</tr>';
        });

        html += '</table>';
        return html;
    }

    function display() {
        array.splice(0, 1);
        const sorted = array.sort((a, b) => startingAt(a) - startingAt(b));


        let html = '';
        html += '<div style="font-size: 90%; margin-bottom: 10px"><a href="roadmap.html" target="_blank">Open in new Tab...</a></div>';
        html += '<div style="font-size: 80%">';
        html += '<div style="display: inline-block">Legend:</div>';
        html += '<div style="color: white; background-color: #315b7c; display: inline-block; margin: 2px; padding: 2px">Building</div>';
        html += '<div style="background-color: #d0d0d0; display: inline-block; margin: 2px; padding: 2px">Maintenance</div>';
        html += '</div>';

        sorted.forEach(item => {
            html += '<br>';
            html += '<br>';
            html += displayTable([item]);
        });

        document.getElementById('Main').outerHTML = html;
    }

    display();

</script>

<div style="margin: 27px; color: #a0a0a0; font-size: 80%" class="hidden">
    generated on ${date} based on this source
    <a style="text-decoration: underline; color: #a0a0a0;" href="${data_sheet}">data sheet</a>
</div>
</body>
</html>