<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCP Usage Trend</title>
    <style type="text/css" media="all">
        body {
            font-family: Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .domain {
            padding-top: 5px;
            text-align: center;
            font-size: 10px;
            width: 82px;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 8px;
        }

        .image {
            height: 64px;
            width: 80px;
            object-fit: contain;
        }

        th {
            horiz-align: center;
            background-color: #f0f0f0;
        }

        td {
            vertical-align: top;
            text-align: center;
            background-color: #f0f0f0;
        }
    </style>
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
<script>
    const getImage = function (service) {
        const id = service.toLowerCase();

        if (id === 'compute') return 'compute.png'
        if (id === 'storage') return 'storage.png'
        if (id === 'network') return 'network.png'
        if (id === 'log') return 'logging.png'
        if (id === 'services') return 'service.png'
        if (id === 'licencing') return 'licence.png'


        if (id.includes('compute engine')) return 'gcp/compute_engine.png'
        if (id.includes('cloud logging')) return 'gcp/cloud_logging.png'
        if (id.includes('cloud storage')) return 'gcp/cloud_storage.png'
        if (id.includes('bigquery')) return 'gcp/bigquery.png'
        if (id.includes('networking')) return 'gcp/cloud_network.png'
        if (id.includes('memorystore')) return 'gcp/memorystore.png'
        if (id.includes('kubernetes')) return 'gcp/google_kubernetes_engine.png'
        if (id.endsWith('-db')) return 'db.png'
        if (id.includes('cloud sql')) return 'gcp/cloud_sql.png'
        if (id.includes('vertex')) return 'gcp/vertexai.png'
        if (id.includes('notebooks')) return 'gcp/vertexai.png'
        if (id.includes('cloud dns')) return 'gcp/cloud_dns.png'
        if (id.includes('secret manager')) return 'gcp/secret_manager.png'
        if (id.includes('container registry')) return 'gcp/container_registry.png'
        if (id.includes('app engine')) return 'gcp/app_engine.png'
        if (id.includes('composer')) return 'gcp/cloud_composer.png'
        if (id.includes('stackdriver')) return 'gcp/stackdriver.png'
        if (id.includes('maps ')) return 'gcp/google_maps_platform.png'
        if (id.includes('street ')) return 'gcp/google_maps_platform.png'
        if (id.includes('geocoding ')) return 'gcp/google_maps_platform.png'
        if (id.includes('support')) return 'gcp/support.png'
        if (id.includes('support')) return 'gcp/support.png'
        if (id.includes('cloud cdn')) return 'gcp/cloud_cdn.png'
        if (id.includes('key management')) return 'gcp/key_management_service.png'
        if (id.includes('cloud functions')) return 'gcp/cloud_functions.png'
        if (id.includes('pub/sub')) return 'gcp/pubsub.png'
        if (id.includes('artifact ')) return 'gcp/artifact_registry.png'
        if (id.includes('source repository')) return 'gcp/cloud_code.png'
        if (id.includes('data catalog')) return 'gcp/data_catalog.png'
        if (id.includes('cloud scheduler')) return 'gcp/cloud_scheduler.png'
        if (id.includes(' deploy')) return 'gcp/cloud_deploy.png'

        if (id.includes('kafka')) return 'general/kafka.png'
        if (id.includes('airflow')) return 'general/airflow.png'
        if (id.includes('mongodb')) return 'general/mongodb.png'
        if (id.includes('datadog')) return 'general/datadog.png'

        if (id.includes('europe-west1')) return 'flags/be.svg'
        if (id.includes('europe-west3')) return 'flags/de.svg'
        if (id.includes('europe-west4')) return 'flags/nl.svg'
        if (id.includes('europe-west8')) return 'flags/it.svg'
        if (id.includes('europe-west9')) return 'flags/fr.svg'
        if (id.includes('europe-north1')) return 'flags/fi.svg'
        if (id.includes('asia-southeast1')) return 'flags/sg.svg'
        if (id.includes('asia-east1')) return 'flags/tw.svg'
        if (id.includes('europe')) return 'flags/eu.svg'
        if (id.includes('global')) return 'flags/un.svg'
        if (id.includes('asia-northeast1')) return 'flags/jp.svg'
        if (id.includes('us-')) return 'flags/us.svg'
        if (id.includes('australia-')) return 'flags/au.svg'
        if (id.includes('northamerica-')) return 'flags/ca.svg'
        if (id.includes('asia-south1')) return 'flags/in.svg'
        if (id.includes('southamerica-east1')) return 'flags/br.svg'
        if (id.includes('asia-east2')) return 'flags/hk.svg'
        if (id.includes('asia-southeast2')) return 'flags/id.svg'
        if (id === 'us') return 'flags/us.svg'

        return 'general/gcp.png';
    }
</script>

<script>
    const array = ${all};
    const months = ${months};
    const mediaLinkPrefix = "${media-link-prefix}";

    const numberWithCommas = function (x) {
        return Math.round(x).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    const getCosts = function (service, month) {
        let filtered = array
            .filter(item => item.service.toLowerCase() === service.toLowerCase())
            .filter(item => item.month == month);

        return filtered.map(i => i.cost).reduce((a, b) => a + b, 0);
    }

    const getTotalCosts = function (month) {
        return array.filter(m => m.month === month).map(item => item.cost).reduce((a, b) => a + b, 0);
    }

    let html = '';

    html += '<div style="margin-left: 6px; margin-bottom: 28px; white-space: nowrap">';
    html += '<a href="trends.html" style="background-color: #c0c0c0; margin-right: 8px; padding: 14px; padding-bottom: 9px">Trend</a>';
    months.reverse().forEach(month => {
        html += '<a href="' + month + '.html" style="background-color: #f6f6f6; margin-right: 8px; padding: 14px; padding-bottom: 9px">';
        html += month + '</a>';
    });
    html += '</div>';

    html += '<table>';
    html += '<tr style="font-size: 60%; color: grey;">';
    html += '<td style="background-color: white"></td>';

    months.sort().reverse().forEach(month => {
        html += '<td style="background-color: white; padding: 6px;">'
            + month
            + '<div style="color: blue">$' + numberWithCommas(getTotalCosts(month)) + '</div>'
            + '</td>';
    })

    html += '</tr>';

    let max = 1;
    array.forEach(function (item) {
        max = Math.max(max, item.cost);
    });

    const services = function () {
        const map = {};
        const services = [];

        array.sort((a, b) => b.cost - a.cost).forEach(item => {
            if (!map[item.service]) {
                map[item.service] = item;
                services.push(item.service)
            }
        })

        return services;
    }

    services().sort((a, b) => b.cost - a.cost).forEach(function (service) {
            html += '<tr>';
            html += '<td>';
            html += '<div class="domain" title="' + service + '" style="">';
            html += '<div><a target="_blank" href="https://www.google.com/search?q=Google GCP ' + service + '">';
            html += '<div style="color: grey; ">' + service + '</div>';
            html += '<img class="image" src="${media-link-prefix}' + getImage(service) + '" onerror="this.onerror=null;this.src=\'../logos/general/gcp.png\';">';
            html += '</a></div>';
            html += '</div>';
            html += '</td>';

            months.sort().reverse().forEach(m => {
                html += '<td style="text-align: center; vertical-align: bottom; font-size: 12px">';
                let value = getCosts(service, m);
                console.log(value);
                if (value > 0) {
                    html += '$' + numberWithCommas(value);
                    html += '<div style="width: 100%; background-color: #1e73be; height: ' + (56 * value / max) + 'px"></div>'
                }
                html += '</td>';
            })


            html += '</tr>';
        }
    );
    html += ('</table>');
    html += ('<div style="color: grey; font-size: 80%">' + array.length + ' items</div>');

    const div = document.createElement('div');
    document.body.appendChild(div);
    div.outerHTML = html;
</script>

<div style="margin-top: 27px; color: #a0a0a0; font-size: 60%">
    generated on ${date}
</div>
</body>
</html>