<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCP Usage Trend</title>
    <style type="text/css" media="all">
        body {
            font-family: Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .domain {
            padding: 5px;
            margin: 10px;
            display: inline-block;
            text-align: center;
            font-size: 10px;
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
        }

        .image {
            height: 64px;
            width: 64px;
            object-fit: contain;
        }

        th {
            horiz-align: center;
            background-color: #f0f0f0;
        }

        td {
            vertical-align: top;
            text-align: center;
            background-color: #f0f0f0;
        }

        .hidden {
            display: none;
        }
    </style>
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
<script>
    const getImage = function (service) {
        const id = service.toLowerCase().trim();

        if (id.endsWith('-db')) return 'db.png'
        if (id === 'compute') return 'compute.png'
        if (id === 'storage') return 'storage.png'
        if (id === 'network') return 'network.png'
        if (id === 'log') return 'logging.png'
        if (id === 'services') return 'service.png'
        if (id === 'licencing') return 'licence.png'

        if (id.includes('compute engine')) return 'gcp/compute_engine.png'
        if (id.includes('cloud logging')) return 'gcp/cloud_logging.png'
        if (id.includes('cloud storage')) return 'gcp/cloud_storage.png'
        if (id.includes('bigquery')) return 'gcp/bigquery.png'
        if (id.includes('networking')) return 'gcp/cloud_network.png'
        if (id.includes('memorystore')) return 'gcp/memorystore.png'
        if (id.includes('kubernetes')) return 'gcp/google_kubernetes_engine.png'
        if (id.includes('cloud sql')) return 'gcp/cloud_sql.png'
        if (id.includes('vertex')) return 'gcp/vertexai.png'
        if (id.includes('notebooks')) return 'gcp/vertexai.png'
        if (id.includes('cloud dns')) return 'gcp/cloud_dns.png'
        if (id.includes('secret manager')) return 'gcp/secret_manager.png'
        if (id.includes('container registry')) return 'gcp/container_registry.png'
        if (id.includes('app engine')) return 'gcp/app_engine.png'
        if (id.includes('composer')) return 'gcp/cloud_composer.png'
        if (id.includes('stackdriver')) return 'gcp/stackdriver.png'
        if (id.includes('maps ')) return 'gcp/google_maps_platform.png'
        if (id.includes('street ')) return 'gcp/google_maps_platform.png'
        if (id.includes('geocoding ')) return 'gcp/google_maps_platform.png'
        if (id.includes('support')) return 'gcp/support.png'
        if (id.includes('support')) return 'gcp/support.png'
        if (id.includes('cloud cdn')) return 'gcp/cloud_cdn.png'
        if (id.includes('key management')) return 'gcp/key_management_service.png'
        if (id.includes('cloud functions')) return 'gcp/cloud_functions.png'
        if (id.includes('pub/sub')) return 'gcp/pubsub.png'
        if (id.includes('artifact ')) return 'gcp/artifact_registry.png'
        if (id.includes('source repository')) return 'gcp/cloud_code.png'
        if (id.includes('data catalog')) return 'gcp/data_catalog.png'
        if (id.includes('cloud scheduler')) return 'gcp/cloud_scheduler.png'
        if (id.includes(' deploy')) return 'gcp/cloud_deploy.png'
        if (id.includes(' monitoring')) return 'gcp/cloud_monitoring.png'

        if (id.includes('kafka')) return 'general/kafka.png'
        if (id.includes('airflow')) return 'general/airflow.png'
        if (id.includes('mongodb')) return 'general/mongodb.png'
        if (id.includes('datadog')) return 'general/datadog.png'

        if (id.includes('europe-west1')) return 'flags/be.svg'
        if (id.includes('europe-west3')) return 'flags/de.svg'
        if (id.includes('europe-west4')) return 'flags/nl.svg'
        if (id.includes('europe-west8')) return 'flags/it.svg'
        if (id.includes('europe-west9')) return 'flags/fr.svg'
        if (id.includes('europe-north1')) return 'flags/fi.svg'
        if (id.includes('asia-southeast1')) return 'flags/sg.svg'
        if (id.includes('asia-east1')) return 'flags/tw.svg'
        if (id.includes('europe')) return 'flags/eu.svg'
        if (id.includes('global')) return 'flags/un.svg'
        if (id.includes('asia-northeast1')) return 'flags/jp.svg'
        if (id.includes('us-')) return 'flags/us.svg'
        if (id.includes('australia-')) return 'flags/au.svg'
        if (id.includes('northamerica-')) return 'flags/ca.svg'
        if (id.includes('asia-south1')) return 'flags/in.svg'
        if (id.includes('southamerica-east1')) return 'flags/br.svg'
        if (id.includes('asia-east2')) return 'flags/hk.svg'
        if (id.includes('asia-southeast2')) return 'flags/id.svg'
        if (id === 'us') return 'flags/us.svg'

        return 'general/gcp.png';
    }
</script>

<script>
    const array = ${data};
    const months = ${months};
    const totalCosts = ${totalCosts};
    const focusMonth = "${focusMonth}";
    const mediaLinkPrefix = "${media-link-prefix}";

    const numberWithCommas = function (x) {
        return Math.round(x).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    let html = '<div style="margin-left: 6px; margin-bottom: 18px; white-space: nowrap">';
    html += '<a href="trends.html" style="background-color: #f6f6f6; margin-right: 8px; padding: 14px; padding-bottom: 9px">Trend</a>';
    months.reverse().forEach(month => {
        const bgColor = focusMonth === month ? '#c0c0c0' : '#f6f6f6';
        html += '<a href="' + month + '.html" style="background-color: ' + bgColor + '; margin-right: 8px; padding: 14px; padding-bottom: 9px">';
        html += month + '</a>';
    });
    html += '</div>';
    html += '<div style="margin-left: 12px; color: grey">Total costs: $' + numberWithCommas(totalCosts) + '</div>';

    html += '<div>';

    array.sort((a, b) => b.cost - a.cost).forEach(function (month) {
            const usage = totalCosts > 0 ? month.cost / totalCosts : 0;
            const style = usage > 0.01 ? '' : 'opacity: 0.7';
            html += '<div class="domain" title="' + month.service + '" style="' + style + '">';
            html += '<div><a target="_blank" href="https://www.google.com/search?q=Google GCP ' + month.service + '">';
            html += '<img class="image" src="${media-link-prefix}' + getImage(month.service) + '" onerror="this.onerror=null;this.src=\'../logos/general/gcp.png\';">';
            html += '</a></div>';
            html += '<div style="color: blue; font-size: 19px; margin: 2px;">' + (usage > 0.01 ? Math.round(usage * 100) : '<1') + '%</div>';
            html += '<div style="color: grey; font-size: 12px; margin: 2px;">' + ('$' + numberWithCommas(month.cost)) + '</div>';
            html += '<div style="color: grey; font-weight: bold; font-size: 11px">' + month.service + '</div>';
            if (month.project) {
                html += '<div style="color: grey; ">[' + month.project + ']</div>';
            }
            html += '</div>';
        }
    );
    html += ('</div>');
    html += ('<div style="color: grey; font-size: 80%">' + array.length + ' items</div>');

    const div = document.createElement('div');
    document.body.appendChild(div);
    div.outerHTML = html;
</script>

<div style="margin-top: 20px; color: #a0a0a0; font-size: 60%">
    generated on ${date}
</div>
</body>
</html>